{% extends 'customadmin/master.html' %}

{% block content %}
<div class="pagetitle d-flex justify-content-between align-items-center">
  <div>
    <h1>About</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">About</li>
      </ol>
    </nav>
  </div>
  <div>
    <button type="button" class="btn btn-primary">
      <i class="bi bi-plus me-1"></i> With Text
    </button>
  </div>
</div><!-- End Page Title -->
<hr>
<h1>About Page</h1>
<p>This is the about section of the admin panel.</p>
{% endblock %}
