<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <!-- Dashboard -->
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">
        <i class="bi bi-speedometer2"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <!-- About -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'abouts' %}">
        <i class="bi bi-info-circle"></i>
        <span>About</span>
      </a>
    </li>

    <!-- Members -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'members' %}">
        <i class="bi bi-people"></i>
        <span>Members</span>
      </a>
    </li>

    <!-- Events -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'events' %}">
        <i class="bi bi-calendar-event"></i>
        <span>Events</span>
      </a>
    </li>

    <!-- Resources -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'resources' %}">
        <i class="bi bi-folder2-open"></i>
        <span>Resources</span>
      </a>
    </li>

    <!-- Contacts -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#">
        <i class="bi bi-envelope-paper"></i>
        <span>Contacts</span>
      </a>
    </li>

  </ul>

</aside>